{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <div class="container">


<h2>Presenting, {{ count }} Banks!!</h2>


 <table border="1">
 <tr>
  <th style="padding:10px" >ID</th>
  <th style="padding:10px" >Bank Name</th>
 </tr>

{% for bank in banks %}
	
 <tr>
  <td style="padding:10px" >{{ bank.id }}</td>
  <td style="padding:10px" >{{ bank.name }}</td>
 </tr> 
 
 <!--
    <li>{{ bank.id }}</li>
    <li>{{ bank.name }}</li> -->

{% endfor %}
</table>

</div>

{% endblock %}